body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}
h1 , h2 , h3 , p , ul {
    margin: 0;
}
ul {
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.text {
    margin-bottom: 8px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
}
.address .container {
    display: flex;
    align-items: center;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}
.three-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8;
}
.section-two ul .text {
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.page-header {
    background-color: #FFFFFF;
    color: #2E2F42;
    line-height: 1.5;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.address {
    font-style: normal;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.category-header .primary{
    position: relative;
}

.category-header .primary::after {
    position: absolute;
    content: "";
    background-color: #404bbf;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
}



.menu .link, .address-header .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-header .link {
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.address-header .link:hover, .address-header .link:focus {
    color: #404bbf;
}

.page-title {
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
}

.button, .form-button, .modal-buttontwo{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #4D5AE5;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}
.container .button, .modal-buttontwo {
    display: block;
    border: none;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
}

.section-one {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}


.category-header , .address-header {
    display: flex;
    gap: 40px;
    
}
.category-header .link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}


.category-header .link:hover, .category-header .link:focus {
    color: #404BBF;
}
.category-header .link:active {
    text-decoration: underline;
    color: #404BBF;
}

.menu .primary {
    color: #404bbf;
}
.section-two {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ulist-two {
    display: flex;
    gap: 24px;
    
}
.ulist-two .list-two:last-child {
    margin-right: 0;
}
.list-two  {
    width:calc((100% - 3 * 24px) / 4);
}
.ulist-two .three-title {
    margin-bottom: 8px;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
.icon-container svg {
    width: 64px;
    height: 64px;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.ulist-workers {
    display: flex;
    gap: 24px;
    
    
}

.ulist-teamedia {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.list-teamedia{
    width: 40px;
    height: 40px;
}
.list-teamedia .link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-teamedia .link:hover, .list-teamedia .link:focus {
    background-color: #404bbf;
}
.list-teamedia .icon {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}

.ulist-workers .link:hover .icon {
    fill:#31d0aa;
}

.workers {
    background-color: #FFFFFF;
    width: calc((100% - 3 *24 ) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-names {
    padding: 32px 0;
}
.team-names .three-title {
    text-align: center;
    margin-bottom: 8px;
}
.team-names .text {
    text-align: center;
}
.section-team .text {
    font-size: 16px;
    line-height: 1.5;
}
.section-four {
    padding: 120px 0 120px 0;
}
.section-four .title{
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.section-four .three-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-four .text{
    line-height: 1.5;
}
.ulportfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.ulportfolio-list .list {
    width: calc((100% - 48) / 3);
}

.overlay {
    position: relative;
    overflow: hidden;
}
.overlay .text{
    display: flex;
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ulportfolio-list .list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
}
.ulportfolio-list .list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ulportfolio-list .list:hover .overlay .text {
    transform: translateY(0%);
}
.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    border-top: none;
}
.app-name .three-title {
    margin-bottom: 8px;
}
.page-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 100px 0;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}
.footerlogo-container {
    margin-right: 120px;
}
.page-footer .container .logo-header {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
}
.page-footer .container p {
    max-width: 264px;
}

.page-footer .container .ulist-media {
    display: flex;
}
.page-footer .container .media-container {
    display: block;
}
.media-container .text, .subscribe-container .text {
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    
}
.decoration-header{
    color: #2e2f42;
}
.decoration {
    color: #f4f4fd;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 25.5px;
    padding-bottom: 25.5px ;
    margin-right: 76px;
}
.category-header .link:last-child {
    margin-right: 0;
}

.media-container .text, .subscribe-container .text {
    font-weight: 500;
    margin-bottom: 16px;
}
.ulist-media {
    display: flex;
    gap: 16px;
}
.ulist-media .list-footer {
    width: 40px;
    height: 40px;
}
.list-footer .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list-footer .link:hover, .list-footer .link:focus {
    background-color: #31d0aa;
}

.list-footer .link .icon {
    fill: #f4f4fd;
}
.page-footer .container .subscribe-container {
    display: block;
    padding-left: 80px;
}
.form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.form-input {
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.form-input::placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:active,
.form-button:focus 
{
    background-color: #404BBF;
}
.form-button .icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    opacity: 0; 
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal {
    position: absolute;
    top: 50%;     
    left: 50%;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%,-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button:focus, .modal-button:hover {
    background-color: #404bbf;
    border: none;
}
.modal-button .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover > .icon-close, .modal-button:focus >.icon-close {
    fill: #FFFFFF;
}



.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;

}

.form_modal .form-container {
    margin-bottom: 8px;
}

.form-container .label-form, .check-container .label-form, .comment-container .label-form{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-container .label-form {
    display: block;
    margin-bottom: 4px;
}
.input-container {
    position: relative;
}

.input-container .user {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container .user:focus {
    border-color: #4D5AE5;
}

.input-container .icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-container .user:focus + .icon{
    fill: #4D5AE5;
}


.comment-container {
    margin-bottom: 16px;
}
.comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: #4D5AE5;
}

.check-container {
    margin-bottom: 24px;
}
.decoration-one {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-container input[type="checkbox"]:checked + .label-form .decoration-one {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.check-container .label-form .link {
    color: #4d5ae5;
}
